@import "../style.less";

.banner-component.dark {
    .uk-section {
        background-image: url("../assets/banner-back-dark.png");

        h1 {
            color: @text-color-dark;

            span {
                text-shadow: 
                    -1px -1px 0px darken(@brand-color-dark, 0%),
                    2px 2px 0px darken(@brand-color-dark, 0%),
                    3px 3px 0px darken(@brand-color-dark, 0%);
            }

        }

        h2 {
            margin-top: 0;
            color: @text-color-dark;
            font-family: 'Lato';
            font-weight: 900;
            .fluid-font(1.8, 64, 320, 3840);
        }

        button {
            padding-top: .3em;
            padding-bottom: .3em;
            border-radius: .2em;
            color: #121212;
            background-color: @brand-color-dark;
            font-family: 'Lato';
            font-weight: 700;
            .fluid-font(1.5, 32, 320, 3840);
            transition: background-color .3s ease-in-out;

            a {
                color: inherit;
                text-decoration: none;
                transition: color .3s ease-in-out;
            }
        }

        button:hover {
            color: @champagne-pink;
            background-color: @brand-color;
        }
    }

    @media only screen and (max-width: 640px) {
        .uk-section {
            background-image: url("../assets/banner-back-dark-small.png");
        }
    }
}