@import "../style.less";

#faq-view.dark {
    .uk-card {
        h2 {
            color: @text-color-dark;
        }

        h3 {
            color: @text-color-dark;
        }

        ul.uk-list li {
            color: @text-color-dark;

            a {
                color: @link-color-dark;
            }
        }

        img {
            height: 86px;
            padding: 22px;
            background-color: lighten(#121212, 30%);
            border-radius: .5em;
            border: 2px @brand-color-dark solid;
            box-shadow: 5px 5px 0 @brand-color-dark;
        }

        box-shadow: 5px 5px 0 @brand-color-dark;
        border: 2px @brand-color-dark solid;
        background-color: lighten(#121212, 5%);
    }

    @media only screen and (max-width: 640px) {
        .image-holder {
            img {
                height: auto;
                width: 100%;
                margin-bottom: .5em;
            }
            flex-direction: column;
        }
    }
}