@import "../style.less";

.farm-card.dark {
    .uk-card {
        background-color: lighten(#121212, 3%);
        margin-bottom: 1em;

        .uk-card-header {

            h3 {
                color: @champagne-pink;
            }

            p {
                color: @champagne-pink;
            }
        }

        .uk-card-body {
            h4 {
                color: @champagne-pink
            }

            button {
                background-color: @brand-color-dark;
                color: #121212;
            }

            input {
                border: 2px @salmon-pink solid;
                color: @text-color-dark;
                background-color: #121212;
            }
        }

        .uk-card-footer {
            button {
                color: @text-color-dark;
                border: @salmon-pink 2px solid;
                background-color: transparent;
            }

            button:hover {
                color: #121212;
                background-color: @salmon-pink;
            }
        }
    }
}