@import '../style.less';

#navbar-component.dark {
    .uk-navbar-container {
        background-color: fade(#121212, 80%) !important;
    }

    .uk-logo {
        color: @salmon-pink;
    }

    .uk-logo:hover {
        color: @brand-color-dark;
    }

    .uk-navbar-nav {
        a {
            color: @text-color-dark;
        }

        a:hover {
            color: @brand-color-dark;
        }

        a.active {
            color: @brand-color-dark !important;
        }
    }

    .uk-offcanvas-bar {
        background-color: #121212;

        button.uk-offcanvas-close {
            color: @text-color-dark;
        }
    }

    .uk-offcanvas-bar .uk-nav li {

        color: @text-color-dark;

        a {
            color: @text-color-dark;
        }

        a:hover {
            color: @brand-color-dark;
        }

        a.active {
            color: @brand-color-dark !important;
        }
    }

    #active_address {
        color: @brand-color-dark;
    }

    #theme-changer {
        color: @brand-color-dark;
    }
}