@import "../style.less";

.stake-card-component.dark {
    .uk-card {
        background-color: lighten(#121212, 3%);
        margin-bottom: 1em;
    }

    h3 {
        color: @text-color-dark;
    }

    p {
        font-family: 'Lato';
        .fluid-font(1, 15, 320, 3840);
        color: @text-color-dark;
    }

    h4 {
        background-image: url("../assets/bread-dark.svg");
        color: @text-color-dark;
    }
}