@import "../style.less";

.stake-menu-component.dark {
    .uk-card {
        background-color: lighten(#121212, 3%);

        .uk-card-header {

            h1 {
                color: @brand-color-dark;
            }

            h3 {
                color: @text-color-dark;

                a {
                    color: @link-color-dark;
                }
            }

            p {
                color: @text-color-dark;
            }
        }

        .uk-card-body {
            input {
                color: @text-color-dark;
                border: 2px @brand-color-dark solid;
                background-color: lighten(#121212, 3%);
            }

            button {
                color: @brand-color-dark;
                border: 2px @brand-color-dark solid;
                border-radius: .2em;
            }

            button:hover {
                box-shadow: 5px 3px 0 @brand-color-dark;
            }

            #stake-button {
                color: lighten(#121212, 3%);
                background-color: @brand-color-dark;
            }
        }
    }
}