@import "../style.less";

.stake-banner-component.dark {
    .uk-section {

        background-image: url("../assets/banner-back-dark.png");

        #mobile-title {
            .fluid-font(1.5, 20, 320, 3840);
        }

        h1 {
            font-family: 'Lato';
            font-weight: 900;
            .fluid-font(2, 86, 320, 3840);
            color: @text-color-dark;

            span {
                text-shadow: 
                    -1px -1px 0px darken(@brand-color-dark, 0%),
                    2px 2px 0px darken(@brand-color-dark, 0%),
                    3px 3px 0px darken(@brand-color-dark, 0%);
            }
        }

        h2 {
            margin-top: 0;
            color: @text-color-dark;
            font-family: 'Lato';
            font-weight: 900;
            .fluid-font(1.8, 64, 320, 3840);
        }
    }

    @media only screen and (max-width: 640px) {
        .uk-section {
            background-image: url("../assets/banner-back-dark-small.png");
        }
    }
}