// Importing the font
@import (css) url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Fluid font sizing
.fluid-font(@min-font, @max-font, @min-screen, @max-screen) {
    font-size: calc(unit(@min-font, em) + (@max-font - @min-font) * ((100vw - unit(@min-screen, px)) / (@max-screen - @min-screen)));
}

// Defining colors
@dark-red: #930400;
@coral: #F78060;
@tyrian-purple: #3A001E;
@misty-rose: #F7DCDA;
@brink-pink: #EC6886;
@champagne-pink: #FFE6D8;

@vermillion: #DC2F04;
@rufous: #B20000;
@salmon-pink: #FF8B94;
@rubine-red: #D20354;

@cotton-candy: #FFBDD2;
@orange-red-crayola: #FF5C53;

@text-color: @tyrian-purple;
@brand-color: @vermillion;
@brand-shade-color: @rufous;

@text-color-dark: @cotton-candy;
@brand-color-dark: @orange-red-crayola;

@link-color: #0078F9;
@link-color-dark: #70B2DE;